@import '../../assets/var';

.login-signup {
    height: 100vh;
    background: url(\login-bgr2.jpg) no-repeat fixed center / cover;
    display: flex;
    align-items: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    width: 700px;
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    backdrop-filter: blur(24px);
    padding: 64px;

    a {
        color: $primary-color;
    }
    
    .error {
        color: red;
    }
}