@import "../../../assets/style/var.scss";

.sidebar {
  // width: 400px;
  // height: 100vh;

  .profile {
    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
    img {
      height: 40px;
    width: 40px;
    object-fit: cover;
    }

    .logout-modal {
      padding: 0;
      position: absolute;
      top: -150px;
      right: 0;
      left: 0;
      background-color: #eeeeee;
      list-style: none;
      border-radius: 24px;
      overflow: hidden;
      li {
      padding: 10px;

        &:hover {
          background-color: #ccc;
        }
      }
    }

  }

  .list-group {
    .list-group-item {
      background-color: transparent;
      color: var(--primary-text-color);
      border: none;
      &:hover {
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
      }
    }

    .isActive {
      font-size: large;
      font-weight: 900;
    }
  }

  .user-name {
    color: var(--primary-text-color);
  }
}
